{% extends "game/layout.html" %}
{% block body %}
  {% if message %}
    <p>{{message}}</p>
  {% endif %}
  <div>
    <h1>Create Room</h1>
    <form action="{% url 'create_room' %}" method="post">
      {% csrf_token %}
      <input type="text" name="create_code" placeholder="Room Code" maxlength="10" minlength="4" required>
      <label for="rounds">Number of rounds</label>
      <input type="number" name="rounds" value="3" min='1'>

      <label for="imposter_count">Number of imposters</label>
      <input type="number" name="imposter_count" value="1" min='1'>

      <input type="submit" name="submit" value="Create">
    </form>
  </div>
{% endblock %}
