{% extends "game/layout.html" %}
{% load static %}
{% block body %}
  {% if message %}
    <p>{{message}}</p>
  {% endif %}
    {% if not room.is_running %}
      {% if user.is_authenticated %}
          <div class="room-content-container" data-room_id="{{room.id}}" data-username='{{user.username}}'>
              <h1>Host: {{host}}</h1>
              {% if is_host %}
                <button type="button" id="close-room-btn" class="btn btn-danger">Close Room</button>
              {% endif %}
              <h3>Players:</h3>
              <ul id="room-players-list-container">
                {% for player in players %}
                  <div class="player-list-item-container">
                    <p>{{player}}</p>
                    {% if is_host %}
                      <button type="button" data-player="{{player}}" class="kick-player btn btn-outline-danger btn-sm">Kick</button>
                    {% endif %}
                  </div>
                {% endfor %}
              </ul>
              <p>Imposter Count: {{room.imposter_count}}</p>
              <p>Rounds: {{room.rounds}}</p>

              {% if not is_host %}
                <button type="button" id="leave-room-btn" class="btn btn-danger">Leave Room</button>
              {% else %}
                <form>
                  <h3>Select starting player</h3>
                  <select id="starting-player-selector" data-players="{{players}}" >
                    <option selected='selected' value="default" disabled>Select a starting player</option>
                    {% for player in players %}
                      <option value="{{player}}">{{player}}</option>
                    {% endfor %}
                  </select>
                </form>
                <button type="button" class="btn btn-success" id="start-room-btn">Start</button>
              {% endif %}
          </div>
      {% endif %}
    {% else %}
      <!-- Game in progress -->
      {% if user.is_authenticated %}
        {% if room.selected_category == 'none' or room.selected_category == None %}
          {% if user == room.current_player %}
            <div data-room_id="{{room.id}}">
              <h3>Select Category</h3>
              <button type="button" class="categories" id="point">Point</button>
              <button type="button" class="categories" id="words">Words</button>
              <button type="button" class="categories" id="fingers">Fingers</button>
              <button type="button" class="categories" id="hands">Hands</button>
            </div>
          {% else %}
            <p>{{room.current_player}} is selecting the category</p>
          {% endif %}
        {% else %}
          <span data-room_id="{{room.id}}" id="redirect-to-game"></span>
        {% endif %}
        {% if is_host %}
          <button type="button" id="end-game-btn" class="btn btn-danger" data-room_id="{{room.id}}">End Game</button>
        {% endif %}
      {% endif %}
    {% endif %}
{% endblock %}
{% block script %}
  <script src="{% static 'game/main.js' %}"></script>
{% endblock %}
